:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.field {
  position: relative;
  margin: 0 auto;
  width: 90%;
  aspect-ratio: 1;

  background-image: url('field-bg.png');

  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(19, 1fr);

  background-repeat: no-repeat;
  background-size: 102%;
  background-position: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  border: 0;
  border-radius: 50%;
  background-color: transparent;
}

.black {
  // add gradient
  background-color: black;
  background-image: linear-gradient(45deg, black, #333);
}

.white {
  background-color: white;
  background-image: linear-gradient(45deg, white, #ccc);
}


